body {
  margin-right: 30px;

}

h1 {
  margin-top: 30px;

}

.logo {
  height: 125px;
  width: 225px;
  background-color: gray;
  border: 1px solid black;
  float: left;
}

.sidebar {
  height: 400px;
  width: 100px;
  background-color: gray;
  border: 1px solid black;
  float: left;
  clear: both;
}

div {
  height: 150px;
  width: 875px;
  background-color: gray;
  margin-top: 50px;
  margin-bottom: 15px;
  border: 1px solid black;
  float: right;
}

nav > p {
  height: 50px;
  width: 175px;
  float: right;
  background-color: gray;
  margin-left: 10px;
  border: 1px solid black;
  margin-top: 75px;
}

.center {
  clear: right;
  margin-bottom: 15px;
  margin-right: 2px;
  height: 150px;
  background-color: gray;
  width: 150px;
  float: right;


}

.right {

  margin-bottom: 15px;
  margin-right: 2px;
  height: 150px;
  background-color: gray;
  width: 500px;
  float: right;

}

.bottom {
  clear: right;
  margin-bottom: 15px;
  margin-right: 2px;
  height: 150px;
  background-color: gray;
  width: 150px;
  float: left;
  margin-left: 50px;
}

footer {
  clear: both;
  height: 125px;
  background-color: gray;
  margin-bottom: 15px;
  border: 1px solid black;
}
